@import '~styles/config';

.Card {
    width: 100%;
    height: 160px;
    margin: 16px 0px 16px 0px;

    &.--I {
        background: $color-primary-I;
    }

    &.--II {
        background: $color-primary-II;
    }

    &.--III {
        background: $color-primary-III;
    }

    &.--IV {
        background: $color-primary-IV;
    }
}
